body {
    font-family: 'Noto Sans Mende Kikakui', sans-serif !important;
}

ul {
    list-style-type: none;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
}

.modal-text {
    color: black;
    font-size: 16px;
    text-align: center;
}

.film-stat {
    font-size: 16px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* style for buttons */
.button-color-blue {
    background-color: #31C3E1 !important;
    width: 90%;
    margin: 10px 0 !important;
}

.button-color-purple {  
    background-color: #7D82B8 !important;
    width: 90%;
    margin: 10px 0 !important;
}

.search {
    background-color: #7D82B8;
    padding: 20px !important;
    height: 150%;
    min-height: 130vh;
    width: 20%;
    text-align: center;
}

.button {
    margin: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    text-transform: capitalize;
}

.button-color {
    background-color: #31C3E1 !important;
    width: 20vh;
    margin: 10px 0 !important;
}

button:hover {
    box-shadow: 0 0 6px 6px rgb(192, 190, 190);
  }

button:hover h3 {
    display: block
  }

.current-data h2{
    color: aliceblue;
  }

button:active {
    font-size: 120%;
    box-shadow: 0 0 10px #000 inset;
  }

/* navigation style */
.navbar-custom {
    display: flex;
    align-items: center;
    background-color: #31C3E1;
    height: 60px;
    width: 100%;
    padding: 0 0 0 10px;
}

/* character display */

.character-display {
    width: 100%;
}

.results-section {
    width: 80%;
    padding: 10px !important;

}

.notification-custom {
    background-color: black !important;
    color: white !important;
}

.character-select {
    height: 20%;
    min-height: 20vh;
    width: 100%;
}

/* movie selection and information styles */
.movie-container {
    width: 100%;
}
.movie-select {
    background-color: #31C3E1 !important;
    height: 100%;
    min-height: 20%;
    width: 55%;
}

.movie-info {
    width: 44%;
    height: 100%;
    min-height: 100vh;
    margin: 0 0 0 10px;
    background-color: #E490A0 !important;
    padding: 20px !important;
}

.character li {
    align-content: right !important;
    list-style-type: none !important; 
}

.character-select img {
    align-items: right !important;
    width: auto !important;
    height: 100% !important;
}

.character p {
    flex: 0 0 100%;
}

.character-select article {
    display: inline-flex !important;
    flex-flow: row wrap;
}

/* media queries */
@media screen and (max-width:768px) {
    .search,
    .character-display,
    .movie-select,
    .movie-info { 
        width: 100%;
    }
} 

@media screen and (max-width:768px) {
    .character-select {
        height: 20%;
    }
} 

@media screen and (max-width:768px) {
    .movie-select {
        height: 100%;
        min-height: 20%;
        order: 2;
    }
} 

@media screen and (max-width:768px) {
    .movie-info {
        height: 60%;
        min-height: 60%;
        margin: 0px;
        order: 1;
    }
} 

@media screen and (max-width:768px) {
    .search {
        height: 20%;
        min-height: 20%;
    }
} 


@media screen and (max-width:768px) {
    .hide { 
        display: none;
    }
} 
