body {
    font-family: 'Noto Sans Mende Kikakui', sans-serif !important;
}

ul {
    list-style-type: none;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
}

.film-stat {
    font-size: 16px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* style for buttons */
.button-color-blue {
    background-color: #31C3E1 !important;
    width: 90%;
    margin: 10px 0 !important;
}

.button-color-purple {  
    background-color: #7D82B8 !important;
    width: 90%;
    margin: 10px 0 !important;
}

.search {
    background-color: #7D82B8;
    padding: 20px !important;
    height: 100vh;
    width: 20%;
    text-align: center;
}

.button {
    margin: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
}

/* navigation style */
.navbar-custom {
    display: flex;
    align-items: center;
    background-color: #31C3E1;
    height: 60px;
    width: 100%;
    padding: 0 0 0 10px;
}

.character-display {
    width: 100%;

}

.results-section {
    width: 80%;
    padding: 10px !important;
}

.notification-custom {
    background-color: black !important;
    color: white !important;
}

.character-select {
    height: 20vh;
    width: 100%;
}

.movie-container {
    width: 100%;
}
.movie-select {
    background-color: #31C3E1 !important;
    height: 75vh;
    width: 55%;
}

.movie-info {
    width: 44%;
    height: 75vh;
    margin: 0 0 0 10px;
    background-color: #E490A0 !important;
    padding: 20px !important;
}
